{
    "all": true,
    "reporter": [
        "html",
        "text",
        "text-summary"
    ],
    "include": [
        "src/**/*.js"
    ],
    "exclude": [
        "**/*.spec.js"
    ],
    "extends": "@istanbuljs/nyc-config-babel"
}